<ul>
  <li><a href="/approche/" {% if current_path is starting_with(pat="/approche") %}aria-current="page"{% endif %}>Approche</a></li>
  <li><a href="/pour-qui/" {% if current_path is starting_with(pat="/pour-qui") %}aria-current="page"{% endif %}>Pour&nbsp;qui&nbsp;?</a></li>
  <li><a href="/qui-suis-je/" {% if current_path is starting_with(pat="/qui-suis-je") %}aria-current="page"{% endif %}>Qui&nbsp;suis-je&nbsp;?</a></li>
  <li><a href="/rdv/" {% if current_path is starting_with(pat="/rdv") %}aria-current="page"{% endif %}>Prendre RDV</a></li>
</ul>