<div
  ><a href="/approche/" {% if current_path is starting_with(pat="/approche") %}aria-current="page"{% endif %}>Approche</a>
  <a href="/pour-qui/" {% if current_path is starting_with(pat="/pour-qui") %}aria-current="page"{% endif %}>Pour&nbsp;qui&nbsp;?</a>
</div>
<div>
  <a href="/qui-suis-je/" {% if current_path is starting_with(pat="/qui-suis-je") %}aria-current="page"{% endif %}>Qui&nbsp;suis-je&nbsp;?</a>
  <a href="/rdv/" {% if current_path is starting_with(pat="/rdv") %}aria-current="page"{% endif %}>Prendre RDV</a>
</div>