{% extends "page.html" %}

{% block main %}
<main id="main-index">
  <div id="img-index">
    <img src="/img/soin-nuvolanevicata.jpg">
  </div>
  <div id="text-index">
    <p>Vous avez des <strong>douleurs</strong> ou d'autres <strong>symptômes chroniques</strong> <em>(fatigue, anxiété, insomnies, troubles digestifs...)</em>, qui persistent ou empirent malgré les traitements ?</p>
    <p>Il est possible que votre <strong>cerveau</strong> soit bloqué en "<strong>mode danger</strong>", et participe <em>(directement ou indirectement)</em> à créer vos maux.</p>
    <p>Je peux vous <strong>accompagner</strong> à sortir de ce cercle vicieux, avec la <em>Thérapie de Reconditionnement de la Douleur</em>, une méthode pragmatique et fondée <strong>scientifiquement</strong>.</p>
    <p>Ayant vécu un long et difficile parcours de <strong>malade</strong> chronique, cette approche a été déterminante dans ma propre <strong>guérison</strong>.</p>
  </div>
</main>
{% endblock main %}