{% extends "page.html" %}

{% block main %}
<main id="main-index">

  <div id="img-index">
    <img src="/img/nuvolanevicata.jpg">
  </div>

  <div id="text-index">
    <div>
      Vous <strong>souffrez</strong> de douleurs ou d'autres symptômes chroniques inexpliqués <em>(fatigue, anxiété, insomnies, troubles digestifs...)</em>, qui persistent malgré les traitements&nbsp;?
    </div>
    <div>
      Psychopraticien spécialisé dans l'accompagnement de ces problématiques, je m'appuie sur la <strong>Thérapie de Reconditionnement de la Douleur</strong>.
    </div>
    <div>
      Cette approche pragmatique et fondée scientifiquement a permis à de nombreuses personnes de trouver un <strong>soulagement durable</strong>.
    </div>
    <div>
      Ayant moi-même vécu un long et difficile parcours avec la maladie de Lyme, cette thérapie a été déterminante dans ma <strong>guérison</strong>.
    </div>
  </div>

</main>
{% endblock main %}